header {
    background-color: #3347B0;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 96px;
    color: #fff;

}

footer {
    background-color: #3347B0;
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 96px;
    color: #fff;
}

.sair {
    font-size: 2em;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
}

.footer-container i {
    font-size: 1.3rem;
}

.info {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.redes-sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 2px solid #fff;
    font-size: 1.2rem;
}