nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    background-color: #BCC2E5;
    padding: 10px;
}




.title {
    margin-left: 45rem;
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 35px;
    color: #3347B0;
}

.legenda{
    display: flex;
    gap: 10px;
    color: #3347B0;
}

.legenda li{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.cor{
    width: 20px;
    height: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.azul{
    background: #3347B0;
}

.amarelo{
    background-color: #E5B657;
}   

.status{
    font-family: 'Roboto';
    font-size: 2rem;
    text-decoration: none;
    color: #3347B0;
    text-decoration: none;
}

h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    color: #3347B0;
    text-decoration: none;
}

main{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
   
    justify-content: center;
}

.cards-alunos{
    margin: 1%;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.card-azul{
    display: flex;
    background-color: #3347B0;
    text-decoration: none;
    height: 400px;
    width: 300px;
}
.card-amarelo{
    display: flex;
    text-decoration: none;
    background-color: #E5B657;
    height: 400px;
    width: 300px;
}

.cards-alunos img{
    margin-top: 20px;
    width: 250px;
}

.cards-alunos span{
    margin: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu li{
    position: relative;   
}

.menu li a {
    display: block;
}

.menu li ul{
    position: absolute;
    display: none;
}

.menu li:hover ul, .menu li.over ul{
    display:block;
}

.menu li ul li{
    padding: 10px;
    background: #3347B0;
    display:block;
}

.inativo{
    display: none;
}

.cards-alunos a {
    background-color: aqua;

    width: 100px;
    height: 10px;
}

footer{
    height: auto;
    background-color: #3347B0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    bottom: 0;
    position: fixed;
    width: 100vw;
    font-family: 'Roboto';
   
}

